.input {
    border: 1px solid #0d0d0d;
    border-radius: 8px;
  
    background-color: #262626;
    color: #f2f2f2;
  
    height: 3.375rem;
    padding: 1rem;
    width: 100%;
  
    line-height: 140%;
  }
  
  .input::placeholder {
    color: #808080
  }
  
  .input:focus {
    border-color: #5e60ce;
  }