.information {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.information aside {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.information aside:first-child {
  color: var(--blue);
}

.information aside:last-child {
  color: var(--purple);
}

.information aside p {
  font-size: 0.875rem;
}

.information aside span {
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
}
