.toDoForm{
    max-width: 46rem;
    width: 100%;
  
    margin: 0 auto;
  }
  
  .inputDiv {
    display: flex;
    flex: 1;
  
    justify-content: space-between;
    gap: 0.5rem;  
  }
  
  .inputDiv input, .inputDiv button {
    transform: translateY(-50%);
  
    margin-bottom: 2.3125rem;
  }
  
  .toDoList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .toDoList > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }